<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Tienda de Gadgets</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/cart.js" defer></script>
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/navbar') %>

  <main class="container">
    <%- body %>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
